.BackLink {
  display: flex;
  padding: 2px 3px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 10px;

  color: rgb(246, 246, 23);
  text-decoration: none;
  background-color: rgb(32, 131, 252);
  width: 150px;
  border-radius: 2px;
  border: none;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.BackLink:hover {
  background-color: rgb(246, 246, 23);
  color: rgb(32, 131, 252);
}
