.imgCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 445px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 5px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.imgCard:hover,
.imgCard:focus {
  -webkit-box-shadow: 1px 2px 11px -1px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px 2px 11px -1px rgba(255, 255, 255, 1);
  box-shadow: 1px 2px 11px -1px rgba(255, 255, 255, 1);
}

.imgMovie {
  width: 260px;
  border-radius: 5px 5px 0 0;
}

.titleImgCard {
  padding: 5px 3px;
  color: black;
  width: 230px;
  text-align: center;
}
