.nav {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.link {
  color: rgb(96, 163, 245);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: rgb(246, 246, 23);
}

.nav::before {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;

  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(61, 56, 56);
  border-radius: 2px;
}
